* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.navbar {
  display: flex;
  background: rgba(15, 15, 15, 0.808);
  color: #ffffff;
  min-height: 4vh;
  display: flex;
}
.link {
  font-size: 1.8vh;
  color: #ffffff;
  margin-right: 2vw;
  margin-top: 0.5vh;
  margin-left: 2vh;
  text-decoration: none;
}
.homePageBody {
  background-color: #272727;
  /* border: red 2px solid; */
  font-family: Arial, Helvetica, sans-serif;
}
.containerHome {
  /* border: red 2px solid; */
  /* overflow: hidden; */
  background: linear-gradient(to right, #f0e2d7, rgb(255, 0, 55, 0.65)),
    url("/src/assets/img-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  width: 100vw;
  clip-path: polygon(50% 0%, 0% 100%, 100% 84%);
  position: relative;
  /* clip-path: polygon(2% 11%, 3% 7%, 96% 16%, 96% 27%, 91% 79%, 10% 93%, 8% 89%); */
}
.formContainer {
  position: absolute;
  color: white;
  font-size: 3vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* border: red 2px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer form {
  position: relative;
  display: flex;
  width: 50%;
  /* border: red 2px solid; */
  margin-top: 20vh;
}
.formContainer input {
  width: 100%;
  height: 3vh;
  padding: 0.3vw;
  border-radius: 5vw;
  border: none;
  text-indent: 48%;
}
.formContainer input:focus {
  outline: none;
}
.Button {
  width: 8%;
  height: 90%;
  background: linear-gradient(to right, #f0e2d7, rgb(255, 0, 55, 0.65));
  border-radius: 5vw;
  border: none;
  position: absolute;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.25vh;
  font-size: 1.5vh;
}
Button:hover {
  background: linear-gradient(to right, #f0e2d7, rgb(255, 0, 55, 0.85));
}
.mic {
  margin-left: 0.2%;
  width: 50px;
}
.search {
  margin-left: 91.8%;
}
.listOfOptions {
  border: yellow 2px solid;
  /* margin-top: 1%; */
  height: 80vh;
}
.listOfOptions li {
  margin-left: 27%;
  margin-top: 1%;
}

/* .results {
  color: white;
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: block;
}
#video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-bottom: 50px;
  color: green;
  color: white;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.song-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to left, rgb(40, 40, 40), rgb(40, 40, 40));
}
.song-list li {
  margin-bottom: 20px;
  width: 500px;
  justify-content: space-evenly;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: overline;
  text-decoration-color: rgb(12, 147, 100);
  position: relative;
}
.song-list li::after {
  content: "";
  position: absolute;
  right: -20px;
  left: -20px;
  bottom: -4px;
  height: 3px;
  background: rgb(12, 147, 100);
  display: inline-block;
}
.song-list li div {
  float: left;
}

.song-list li span {
  float: right;
  background-color: #9e2092;
  border: 0;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  padding: 4px 10px;
  text-transform: capitalize;
}
.btn {
  background-color: rgb(26, 170, 115);
  margin: 0 auto;
  border: 0;
  font-size: 14px;
  border-radius: 10px;
  color: rgb(199, 193, 193);
  cursor: pointer;
  font-weight: 400;
  padding: 6px 20px;
  width: 100px;
  text-transform: capitalize;
}

@media only screen and (max-width: 800px) {
  header {
    height: 70vh;
    width: 95%vw;
  }
  .container {
    font-size: 20px;
  }
  form {
    max-width: 300px;
  }
  input {
    width: 100%;
    height: 40px;
    padding: 12px 20px;
  }
  button {
    width: 80px;
    max-width: 100%;
  }
  .song-list li {
    margin-bottom: 15px;
    max-width: 300px;
    letter-spacing: 0.5px;
    font-size: 17px;
  }
} */
