* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.navbar {
  display: flex;
  background: rgba(15, 15, 15, 0.808);
  color: #ffffff;
  min-height: 4vh;
  display: flex;
}
.link {
  font-size: 1.8vh;
  color: #ffffff;
  margin-right: 2vw;
  margin-top: 0.5vh;
  margin-left: 2vh;
  text-decoration: none;
}
.homePageBody {
  background-color: #272727;
  /* border: red 2px solid; */
  font-family: Arial, Helvetica, sans-serif;
}
.containerHome {
  /* border: red 2px solid; */
  /* overflow: hidden; */
  background: linear-gradient(to right, #f0e2d7, rgb(255, 0, 55, 0.65)),
    url("/src/assets/img-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  width: 100vw;
  clip-path: polygon(50% 0%, 0% 100%, 100% 84%);
  position: relative;
  /* clip-path: polygon(2% 11%, 3% 7%, 96% 16%, 96% 27%, 91% 79%, 10% 93%, 8% 89%); */
}
.formContainer {
  position: absolute;
  color: white;
  font-size: 3vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* border: red 2px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer form {
  position: relative;
  display: flex;
  width: 50%;
  /* border: red 2px solid; */
  margin-top: 20vh;
}
.formContainer input {
  width: 100%;
  height: 3vh;
  padding: 0.3vw;
  border-radius: 5vw;
  border: none;
  text-indent: 48%;
  font-size: 2vh;
  font-weight: 700;
}
.formContainer input:focus {
  outline: none;
}
.Button {
  width: 8%;
  height: 90%;
  background: linear-gradient(to right, #f0e2d7, rgb(255, 0, 55, 0.65));
  border-radius: 5vw;
  border: none;
  position: absolute;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.25vh;
  font-size: 1.5vh;
}
Button:hover {
  background: linear-gradient(to right, #f0e2d7, rgb(255, 0, 55, 0.85));
}
.mic {
  margin-left: 0.2%;
  font-size: 3vh;
}
.search {
  margin-left: 91.8%;
  font-size: 2vh;
}
.listOfOptions {
  /* border: yellow 2px solid; */
  position: absolute;
  margin-left: 26.5%;
  margin-top: 27.5%;
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.listOfOptions li {
  margin-top: 0.5%;
  display: flex;
  /* margin-bottom: 20px; */
  position: relative;
  /* justify-content: space-between; */
  /* float: left; */
  width: 50%;
  border-bottom: rgb(255, 0, 55, 0.65) 2px solid;
  font-size: 2vh;
  margin-bottom: 0.25%;
}
.listOfOptions li div {
  display: flex;
  align-items: center;
}

.data {
  display: flex;
  background-color: rgba(255, 0, 55, 0.824);
  font-size: 1.3vh;
  border-radius: 5vh;
  cursor: pointer;
  padding: 0.75vh;
  position: absolute;
  margin-left: 90%;
  margin-bottom: 1%;
}
.getLyricsLink {
  text-decoration: none;
  color: #fff;
}
.getLyrics:hover {
  background-color: rgba(255, 0, 55, 0.324);
}

.secondPageBody {
  background-color: #272727;
  /* border: red 2px solid; */
  font-family: Arial, Helvetica, sans-serif;
  min-height: 96vh;
  width: 100vw;
  color: #272727;
  font-size: 3.5vh;
  position: relative;
}
.artistPicture {
  position: absolute;
  margin-left: 83%;
  margin-top: 2%;
  z-index: 2;
  border-radius: 50vh;
  /* font-size: 50px; */
}
.coverPicture {
  position: absolute;
  margin-left: 25%;
  width: 50%;
  height: 100%;
  /* font-size: 50px;
  width: 100%;
  height: 50%; */
}
.secondPageFrame {
  position: absolute;
  margin-left: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px white solid;
  width: 40vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  z-index: 3;
}
.secondPageSongTitle {
  font-size: 3vh;
  /* margin-left: 13%; */
  width: 100%;
  /* border: red solid 2px; */
}
.lyrics {
  font-size: 2.5vh;
}
.music {
  position: absolute;
  height: 12vh;
  margin-top: 80.5vh;
  margin-left: 71vw;
}
.secondPageMusic {
  position: absolute;
  margin-left: 10%;
  /* border: 3px solid red; */
}
